<h1>Manufacturer</h1>

<p>Name: <%= @manufacturer.manufacturer_name() %></p>
<p>Website: <a href="<%=@manufacturer.website()%>"><%= @manufacturer.website() %> </a></p>
<p>Contact Name: <%= @manufacturer.contact_name() %></p>
<p>Email: <%= @manufacturer.email() %></p>
<p>Phone: <%= @manufacturer.phone_number() %></p>
<p>Notes: <%= @manufacturer.notes() %></p>

<form action="/inventory/manufacturer/<%= @manufacturer.id %>/edit" method="get">
  <input type="submit" value="Update Manufacturer">
</form>

<form action="/inventory/manufacturer/<%= @manufacturer.id %>/delete" method="post">
  <input type="submit" value="Delete Manufacturer">
</form>
